.footer {
    background-color: $bgdark2;
    @include adaptiv-value('margin-top', 100, 60, 1);
    &__container {
        padding: 30px 15px;
    }
    a,p {
        color: #fff;
    }
    &-nav {
        margin-bottom: 30px;
        &__list {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 20px;
            @media (max-width: $mobileMedium) {
                flex-direction: column;
            }
            li {
                a {
                    color: #fff;
                    transition: 0.3s;
                    &:hover {
                        color: rgb(190, 190, 190);
                    }
                }
            }
        }
    }
    &-contacts {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: $mobileMedium) {
            flex-direction: column;
            text-align: center;
        }
        gap: 15px;
        &__item {
            display: flex;
            align-items: center;
            gap: 5px;
            i {
                font-size: 18px;
            }
            .social {
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    &__copyright {
        background-color: #151515;
        color: #fff;
        text-align: center;
        padding: 15px 0;
        
    }
}
.placeholder {
    @media (max-width: $tablet) {
        display: none;
    }
}
