<div class="film-modal modal">
    <button type="button" class="film-modal__close icon-close"></button>
    
    <div class="film-modal__body">
        <div class="film-modal__thumb" >
            <img src="@img/film1.jpg" alt="">
        </div>

        <div class="film-modal__content">
            <h2>Изгнание</h2>
            <p><strong>Жанр:</strong> драма, мелодрама, мелодрама</p>
            <p><strong>Режиссер:</strong> Андрей Звягинцев</p>
            <p><strong>Сценарий:</strong> драма, мелодрама, мелодрама</p>
            <p><strong>Бюджет::</strong> $4 500 000</p>
            <p><strong>Сборы в мире::</strong> $641 101 </p>
            <p><strong>Премьера::</strong> 18 мая 2007 </p>
            <p><strong>Возраст::</strong> 16+</p>
            <p><strong>Время::</strong> 150 мин. / 02:30</p>

            <button class="button button__accent">Смотреть трейлер</button>
        </div>
    </div>

    <div class="film-modal__actor">
        <p align="center"><strong>В главных ролях:</strong></p>
        <ul>
            <li>Mercedes Bins</li>
            <li>Hazel Jacobs</li>
            <li>Terry O'Hara</li>
            <li>Walter Kilback</li>
            <li>Dwayne Leannon</li>
            <li>Tyrone Wisozk</li>
            <li>Fannie Emard</li>
            <li>Mrs. Rosa Weissnat</li>
            <li>Julia Murphy</li>
            <li>Bryant Balistreri DDS</li>
            <li>Luz Bosco</li>
        </ul>
    </div>
</div>