<footer class="footer">
    <div class="footer__container">
        <nav class="footer__nav footer-nav">
            <ul class="footer-nav__list">
                <li><a href="/">Homepage</a></li>
                <li><a href="../rebate.html">Cash Rebate</a></li>
                <li><a href="../reasons.html">X reasons</a></li>
                <li><a href="../parteners.html">Facilities & Crews</a></li>
                <li><a href="../talents.html">Talents</a></li>
                <li><a href="../films.html">Filmed in Moldova</a></li>
                <li><a href="../about.html">About Us</a></li>
            </ul>
        </nav>

        <div class="footer__contacts footer-contacts">
            <div class="footer-contacts__item">
                <i class="icon-pin"></i>
                Strada Columna 102, Chisinau, MD-2012, Moldova
            </div>
            <span class="placeholder">-</span>
            <div class="footer-contacts__item">
                <i class="icon-phone"></i>
                +373-2282-9721 +373-6210-1902
            </div>
            <span class="placeholder">-</span>
            <div class="footer-contacts__item">
                <i class="icon-email"></i>
                cnc@mc.gov.md
            </div>
            <span class="placeholder">-</span>
            <div class="footer-contacts__item">
                <a href="#" class="social">
                    <img src="@img/logos/facebook.svg" alt="facebook" />
                </a>
                <a href="#" class="social">
                    <img src="@img/logos/twitter.svg" alt="twitter" />
                </a>
                <a href="#" class="social">
                    <img src="@img/logos/linkedin.svg" alt="linkedin" />
                </a>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <a href="#">Politica de confidențialitate.</a>
        <a href="#">Termeni și condiții.</a>
    </div>
</footer>
