<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <a href="/">
                <img src="@img/logos/logo.svg" alt="logo" />
            </a>
        </div>
        <nav class="header__nav header-nav">
            <ul class="header-nav__list">
                <li><a href="../rebate.html">Cash Rebate</a></li>
                <li><a href="../locations.html">locations</a></li>
                <li><a href="../reasons.html">X reasons why</a></li>
                <li><a href="../parteners.html">Facilities & Crews</a></li>
                <li><a href="../talents.html">Talents</a></li>
                <li class="active"><a href="../films.html">Filmed in Moldova</a></li>
                <li><a href="../about.html">About Us</a></li>
                <li><a href="../rebate.html">Apply now</a></li>
            </ul>
        </nav>
        <div class="header__languages header-languages">
            <span class="header-languages__current">EN</span>
            <a href="#">RO</a>
        </div>
        <button type="button" class="burger">
            <span></span>
        </button>
    </div>
</header>
