<div class="location-modal modal">
    <button type="button" class="location-modal__close icon-close"></button>
    
    <div class="location-modal__body">
        <div class="page__spot-slider spot-slider">
            <div class="spot-slider__body">
                <div class="spot-slider__slider">
                    <div class="slider-spot__body swiper">
                        <div class="slider-spot__slide">
                            <img src="@img/location1.jpg" alt="">
                        </div>
                        <div class="slider-spot__slide">
                            <img src="@img/location2.jpg" alt="">
                        </div>
                        <div class="slider-spot__slide">
                            <img src="@img/location3.jpg" alt="">
                        </div>
                        <div class="slider-spot__slide">
                            <img src="@img/location4.jpg" alt="">
                        </div>
                    </div>
        
                    <div class="slider-spot-controls">
                        <div class="slider-spot-controls__arrows slider-arrows slider-arrows--simple">
                            <button type="button" class="slider-arrow slider-arrow__prev icon-chevron__left"></button>
                            <button type="button" class="slider-arrow slider-arrow__next icon-chevron__right"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="location-modal__content">
            <h2>Cetatea Soroca</h2>
            <p> <a href="#">Cetatea Soroca</a> este o cetate moldovenească din secolul al XV-lea, clădită din lemn de Ștefan cel Mare, în fața vadului peste Nistru, și reconstruită în piatră de către Petru Rareș, la mijlocul secolului al XVI-lea.</p>
            <p>Izvoarele istorice menționează ridicarea unor cetăți pe Nistru la vaduri, din lemn sau din piatră, în scaunul cărora se așază pârcălabi (vechi cuvânt românesc provenind din germana „burgmeister”) și mari căpitani : Hotin, Soroca, Orhei, Tighina și Cetatea Albă. </p>
        </div>
    </div>
</div>