<div class="page-introduction" style="background: url('@@background') 50% 50% / cover no-repeat">
    <div class="page-introduction__container">
        <div class="page-introduction__header">
            <h1>@@title</h1>
            <!-- <h5>@@subtitle</h5> -->
            <p>@@text</p>
        </div>
        <div class="page-introduction__buttons">
            <a href="#" class="button button__chip button__chip--active">Toate</a>
            <a href="#" class="button button__chip">Button 1</a>
            <a href="#" class="button button__chip">Button 2</a>
            <a href="#" class="button button__chip">Button 3</a>
            <a href="#" class="button button__chip">Button 4</a>
            <a href="#" class="button button__chip">Button 5</a>
        </div>
    </div>
</div>
