<div class="talent-modal modal">
    <button type="button" class="talent-modal__close icon-close"></button>
    
    <div class="talent-modal__body">
        <div class="person" >
            <img src="@img/talent1.jpg" alt="">
            <div class="person__content person-content">
                <p>Nathan Jerde</p>
                <p>Lead Identity Executive</p>
            </div>
        </div>

        <div class="talent-modal__content">
            <h2>Biografie</h2>
            <p>In voluptatem exercitationem et fugiat. Quae est ab voluptas aut. Perspiciatis mollitia consequuntur incidunt sapiente. Saepe nostrum temporibus dolore facere saepe tempora odit dolorem sunt. Minima aliquid repudiandae ut ipsa voluptas dolor aspernatur at.</p>
            <p>FILMOGRAFIE</p>
            <ul>
                <li>Veritatis porro architecto (2021)</li>
                <li>Aut omnis libero voluptatem reiciendis (2016)</li>
                <li>Dolore voluptatibus nam distinctio (2015)</li>
            </ul>
        </div>
    </div>
</div>