.apply{
    &-item{
        width: 100%;
        &:nth-child(2n){
            .apply-item__body{
                flex-direction: row-reverse;
            }
        }
        &:first-child{
            @include adaptiv-value('margin-top', 100, 60, 1);
            h2{
                @include adaptiv-value('margin-bottom', 50, 30, 1);
            }
        }
        &:not(:last-child){
            @include adaptiv-value('margin-bottom', 100, 60, 1);
        }
        h2{
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            @include adaptiv-value('gap', 20, 10, 1);
            i{
                @include adaptiv-value('font-size', 32, 24, 1);
            }
        }
        &__body{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            @include adaptiv-value('gap', 100, 40, 1);
        }
        &__illustration{
            @media (max-width: $tablet) {
                display: none;
            }
        }
    }
    &-content{
        @include adaptiv-value('font-size', 20, 18, 1);
        width: 100%;
        text-align: center;
        &__blocks{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
            @include adaptiv-value('grid-gap', 20, 10, 1);
            margin-top: 25px;
            .block{
                font-size: 16px;
                @include adaptiv-value('padding-right', 15, 10, 1);
                @include adaptiv-value('padding-left', 15, 10, 1);
                @include adaptiv-value('padding-bottom', 30, 20, 1);
                @include adaptiv-value('padding-top', 30, 20, 1);
                background-color: $bgdark2;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 150%;

            }
        }
    }
}

.information{
    &-body{
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
        &__part{
            h2{
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                @include adaptiv-value('margin-bottom', 30, 20, 1);
                gap: 10px;
                i{
                    @include adaptiv-value('font-size', 40, 24, 1);
                }
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 20px;
                li{
                    border: 1px solid #FFFFFF;
                    height: 68px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    color: #fff;
                    background-color: $bgdark2;
                    transition: .3s;
                    cursor: pointer;
                    padding: 10px 0;
                    &:hover{
                        background-color: #fff;
                        color: $maincolor;
                    }
                }
            }
            &--bw{
                ul{
                    li{
                        color: $maincolor;
                        background-color: #fff;
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        padding: 0;
                        span{
                            background-color: $bgdark;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.apply-info{
    &__body{
        p{
            color: $maincolor;
        }
        .apply-body__table{
            overflow-x: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        table{
            width: 100%;
            border-collapse: collapse;
            @media (max-width: $mobile) {
               min-width: 900px;
            //    overflow-x: auto;      
            }
            tr{
                td{
                    border: 1px solid #E8EAF1;
                    text-align: center;
                    padding: 20px ;
                    strong{
                        @include adaptiv-value('font-size', 20, 18, 1);
                        margin-bottom: 10px;
                        display: block;
                    }
                }
            }
        }
    }
}